@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);@charset "UTF-8";

/* ==============
  Bootstrap-custom
===================*/

.dropdown-menu {
  padding: 4px 0;
  font-size: 13px;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
  background-color: #ffffff;
  border-color: #e9ecef;
  margin: 0;
}

.dropdown-item {
  background-color: #ffffff;
  padding: 0.4rem 1rem;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: #f0f4f7;
  color: #354558;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #f0f4f7;
  color: #354558;
}

.dropdown-menu-animated {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  margin-top: 20px !important;
}

.show > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0px !important;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #9ca8b3;
  content: "\F105" !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid #e9ecef;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid #e9ecef;
  text-align: right;
}

.bg-primary {
  background-color: #30419b !important;
}

.bg-success {
  background-color: #02c58d !important;
}

.bg-info {
  background-color: #59c6fb !important;
}

.bg-warning {
  background-color: #fcbe2d !important;
}

.bg-danger {
  background-color: #fc5454 !important;
}

.bg-muted {
  background-color: #9ca8b3 !important;
}

.bg-secondary {
  background-color: #616f80 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-lighten-primary {
  background-color: #c4caed;
}

.bg-lighten-success {
  background-color: #aefee7;
}

.bg-lighten-info {
  background-color: #bde8fd;
}

.bg-lighten-warning {
  background-color: #fddd92;
}

.bg-lighten-danger {
  background-color: #feb8b8;
}

.bg-lighten-secondary {
  background-color: #dfe3e7;
}

.text-white {
  color: #ffffff !important;
}

.text-danger {
  color: #fc5454 !important;
}

.text-muted {
  color: #9ca8b3 !important;
}

.text-primary {
  color: #30419b !important;
}

.text-warning {
  color: #fcbe2d !important;
}

.text-success {
  color: #02c58d !important;
}

.text-info {
  color: #59c6fb !important;
}

.text-dark {
  color: #354558 !important;
}

.text-secondary {
  color: #616f80 !important;
}

.border-primary {
  border-color: #30419b !important;
}

.border-success {
  border-color: #02c58d !important;
}

.border-info {
  border-color: #59c6fb !important;
}

.border-warning {
  border-color: #fcbe2d !important;
}

.border-danger {
  border-color: #fc5454 !important;
}

.border-dark {
  border-color: #354558 !important;
}

.border-secondary {
  border-color: #616f80 !important;
}

dt {
  font-weight: 500;
}

.bs-spinner .spinner-border,
.bs-spinner .spinner-grow {
  margin-right: 8px;
  margin-top: 10px;
}

.custom-control-input:checked ~ .custom-control-label:before {
  border-color: #30419b;
  background-color: #30419b;
}

/* Navs & Tabs */

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: #30419b;
}

.nav-pills > .active > a > .badge {
  color: #30419b;
}

/* ==============
  General
===================*/

body {
  background-repeat: repeat;
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;
  color: #354558;
  font-size: 13px;
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

h6 {
  font-size: 14px;
}

p {
  line-height: 1.7;
}

svg {
  max-width: 100%;
}

* {
  outline: none !important;
}

a {
  color: #616f80;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#wrapper {
  /*height: $height;*/
  width: 100%;
}

.slimScrollDiv {
  height: auto !important;
}

/******* Metis Menu css *******/

.metismenu {
  padding: 0;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  list-style: none;
}

/******* Topbar *******/

.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.topbar .topbar-left {
  background-color: #fff;
  float: left;
  height: 50px;
  position: relative;
  width: 240px;
  z-index: 1;
}

.topbar .topbar-left .logo {
  line-height: 50px;
  color: #ddd;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  display: block;
  text-align: left;
}

.topbar .topbar-left .logo span {
  line-height: initial;
}

.topbar .topbar-left .logo span.badge {
  font-size: 11px;
  background-color: #30419b;
  position: relative;
  top: 2px;
}

.topbar .topbar-left .logo .logo-sm {
  display: none;
}

.topbar .navbar-custom {
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  margin-left: 240px;
  min-height: 50px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
}

.topbar .navbar-custom .navbar-right .dropdown-toggle:after {
  content: initial;
}

.notification-item-list {
  max-height: 230px;
}

.navbar-custom .dropdown-menu.dropdown-menu-right {
  -webkit-transform: none !important;
  transform: none !important;
  top: 100% !important;
  right: 0 !important;
  left: auto !important;
}

.notification-list.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.notification-list .nav-link {
  padding: 0 15px;
  line-height: 50px;
  color: #495057;
  max-height: 50px;
}

.notification-list .noti-icon {
  font-size: 24px;
  vertical-align: middle;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 10px;
}

.notification-list .notify-item {
  padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}

.notification-list .notify-item .notify-icon i {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
  margin-top: 2px;
  color: #ffffff;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.notification-list .language-switch a img {
  float: right;
  margin-top: 3px;
}

.notification-list.show .nav-link {
  background-color: rgba(53, 69, 88, 0.05);
}

.notification-list .nav-user img {
  height: 36px;
  width: 36px;
}

.notification-list .profile-dropdown {
  width: 170px;
}

.notification-list .profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
  color: #616f80;
}

.notification-list .profile-dropdown span {
  margin-top: 5px;
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 300px;
}

.app-search {
  position: relative;
  margin-top: 18px;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid #f0f4f7;
  font-size: 13px;
  height: 34px;
  padding-left: 18px;
  padding-right: 40px;
  margin-right: 16px;
  background: #f0f4f7;
  box-shadow: none;
  border-radius: 30px;
  width: 200px;
  border: none;
}

.app-search button {
  position: absolute;
  top: 9px;
  right: 26px;
  display: block;
  color: #9ca8b3;
  font-size: 11px;
  border: none;
  background-color: transparent;
}

.button-menu-mobile {
  border: none;
  color: #5b7798;
  display: inline-block;
  height: 50px;
  width: 60px;
  background-color: #ffffff;
  font-size: 24px;
}

/******* Sidemenu *******/

.side-menu {
  width: 240px;
  z-index: 10;
  background: #30419b;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 50px;
}

.side-menu .waves-effect .waves-ripple {
  background-color: rgba(48, 65, 155, 0.4);
}

#sidebar-menu {
  padding-top: 10px;
}

#sidebar-menu > ul > li.mm-active > a > span > .menu-arrow i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sidebar-menu > ul > li > a {
  color: #7e8cda;
  display: block;
  padding: 13px 20px;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:active {
  color: #ffffff;
  text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
  margin-left: 7px;
}

#sidebar-menu > ul > li > a i {
  line-height: 1;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

#sidebar-menu > ul > li > a .badge {
  margin-top: 3px;
}

#sidebar-menu > ul > li > a.mm-active {
  color: #ffffff !important;
  background-color: #3345a5;
}

#sidebar-menu .menu-title {
  padding: 12px 20px !important;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #b9c1eb;
}

#sidebar-menu .submenu li.mm-active > a {
  color: #ffffff;
  background-color: #30419b;
}

#sidebar-menu .submenu li a {
  padding: 8px 20px 8px 10px;
  color: #7e8cda;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#sidebar-menu .submenu li a:focus {
  background-color: left-bar;
}

#sidebar-menu .submenu li a:hover {
  background-color: #30419b;
  color: rgba(255, 255, 255, 0.8);
}

#sidebar-menu .submenu > li > a {
  padding-left: 50px;
}

#sidebar-menu .submenu > li .submenu > li > a {
  padding-left: 70px;
}

/******* Enlarged *******/

.enlarged .slimScrollDiv {
  overflow: inherit !important;
}

.enlarged .slimScrollBar {
  visibility: hidden;
}

.enlarged #wrapper .topbar .topbar-left {
  width: 70px !important;
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-light {
  display: none;
  opacity: 0;
}

.enlarged #wrapper .topbar .topbar-left .logo .logo-sm {
  display: block;
  line-height: 50px;
  font-size: 28px;
}

.enlarged #wrapper .navbar-custom {
  margin-left: 70px;
}

.enlarged #wrapper #sidebar-menu .menu-title,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .badge {
  display: none !important;
}

.enlarged #wrapper #sidebar-menu .mm-collapse.mm-show {
  display: none;
}

.enlarged #wrapper #sidebar-menu .nav.mm-collapse {
  height: inherit !important;
}

.enlarged #wrapper #sidebar-menu ul ul {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #30419b;
}

.enlarged #wrapper .left.side-menu {
  position: absolute;
  width: 70px;
  z-index: 5;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: 260px;
  color: #ffffff;
  background-color: #2d3d91;
  z-index: 1;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a.open :after,
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a.mm-active :after {
  display: none;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a {
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #ffffff;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover a span {
  display: inline-block;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  -webkit-transition: none;
  transition: none;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:hover,
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:active,
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:focus {
  color: #ffffff;
  background-color: #2d3d91;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a i {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 20px !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 10px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li > a span.float-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.mm-active a {
  color: #ffffff;
}

.enlarged #wrapper .content-page {
  margin-left: 70px;
}

.enlarged #wrapper .footer {
  left: 70px;
}

/******* Footer *******/

.footer {
  bottom: 0;
  text-align: center !important;
  padding: 19px 30px 20px;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  left: 240px;
  font-family: "Roboto", sans-serif;
}

/******* Responsive *******/

@media (min-width: 769px) {
  .enlarged {
    min-height: 1200px;
  }

  .enlarged .slimscroll-menu {
    overflow: inherit !important;
  }
}

@media (max-width: 419px) {
  .content-page {
    margin-left: 70px;
  }

  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }

  .button-menu-mobile {
    display: block;
  }

  .navbar-custom {
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .topbar .topbar-left {
    width: 70px !important;
    height: 50px;
  }

  .topbar .topbar-left .logo-light {
    display: none !important;
  }

  .topbar .topbar-left .logo-sm {
    display: block !important;
    line-height: 70px !important;
    font-size: 28px;
  }

  .navbar-custom {
    margin-left: 70px !important;
  }

  .content-page {
    margin-left: 0 !important;
  }

  .content-page .content {
    padding: 0px;
  }

  .enlarged .left.side-menu {
    margin-left: -70px;
  }

  .footer {
    left: 0 !important;
  }
}

.right-sidebar {
  position: fixed;
  width: 280px;
  top: 70px;
  bottom: 0px;
  right: 0px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
}

@media (min-width: 1200px) {
  .dasboard-content {
    margin-right: 280px;
  }
}

/******* Content Page *******/

.content-page {
  margin-left: 240px;
}

.content-page .content {
  padding: 0 15px 10px 15px;
  margin-top: 50px;
}

/******* Page Title *******/

.page-title-box {
  padding: 20px 0px;
}

.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

.page-title-box .breadcrumb {
  padding: 4px 0;
  background-color: transparent;
  margin-bottom: 0;
}

.page-title-box .breadcrumb a {
  color: #354558;
}

.page-title-box .breadcrumb a:hover {
  color: rgba(53, 69, 88, 0.9);
}

.page-title-box .breadcrumb .active {
  color: rgba(53, 69, 88, 0.7);
}

/******* menu light *******/

.left-side-menu-light .side-menu {
  background-color: #ffffff;
}

.left-side-menu-light #sidebar-menu > ul > li > a.mm-active {
  color: #4090cb !important;
  background-color: #f9f9f9;
  box-shadow: 0px 1px 1px 0px rgba(43, 46, 49, 0.07);
}

.left-side-menu-light #sidebar-menu > ul > li > a:hover,
.left-side-menu-light #sidebar-menu > ul > li > a:focus,
.left-side-menu-light #sidebar-menu > ul > li > a:active {
  color: #4090cb;
}

.left-side-menu-light #sidebar-menu > ul > li > a.waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.left-side-menu-light #sidebar-menu > ul > li > a .badge-light {
  background-color: #30419b;
  color: #ffffff;
}

.left-side-menu-light #sidebar-menu .submenu li a:hover {
  background-color: #ffffff;
  color: #4090cb;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > a {
  color: #4090cb !important;
  background-color: #f9f9f9 !important;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > ul a:hover {
  color: #4090cb !important;
}

.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:hover,
.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:active,
.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:focus {
  color: #4090cb !important;
}

.left-side-menu-light.enlarged #sidebar-menu ul ul {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
}

.left-side-menu-light .navbar-custom {
  background-color: #383c40;
}

.left-side-menu-light .navbar-custom .button-menu-mobile {
  color: #e9ecef;
  background-color: #383c40;
}

.left-side-menu-light .navbar-custom .btn-light {
  background-color: #42464b !important;
  border-color: #42464b !important;
  color: #ced4da !important;
  box-shadow: none !important;
}

.left-side-menu-light .navbar-custom .notification-list .nav-link {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control::-webkit-input-placeholder {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control::-moz-placeholder {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control:-ms-input-placeholder {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control::-ms-input-placeholder {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control::placeholder {
  color: #ced4da;
}

.left-side-menu-light .navbar-custom .notification-list .app-search .form-control,
.left-side-menu-light .navbar-custom .notification-list .app-search .form-control:focus {
  border: 1px solid #42464b;
  background: #42464b;
  color: #ced4da;
}

@media (max-width: 576px) {
  .page-title-box .breadcrumb {
    display: none;
  }
}

@media (max-width: 420px) {
  .dropdown-menu-lg {
    width: 220px;
  }

  .notify-icon {
    display: none;
  }

  .notify-details {
    margin-left: 0px !important;
  }
}

/* ==============
  Waves Effect
===================*/

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

/* ==============
  Helper Classes
===================*/

.no-margin {
  margin: 0 !important;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-r-5 {
  margin-right: 5px;
}

.w-30 {
  max-width: 30px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.l-h-23 {
  line-height: 23px;
}

.l-h-34 {
  line-height: 34px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.header-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.rating-symbol-foreground {
  top: 0px;
}

.sub-title {
  margin-bottom: 25px;
  color: #adb5bd;
}

.badge {
  font-weight: 500;
}

.badge-primary {
  background-color: #30419b;
}

.badge-success {
  background-color: #02c58d;
}

.badge-info {
  background-color: #59c6fb;
}

.badge-warning {
  background-color: #fcbe2d;
  color: #ffffff;
}

.badge-danger {
  background-color: #fc5454;
}

.badge-dark {
  background-color: #354558;
}

.badge-secondary {
  background-color: #616f80;
}

.badge-soft-primary {
  background-color: rgba(48, 65, 155, 0.2);
  color: #30419b;
}

.badge-soft-success {
  background-color: rgba(2, 197, 141, 0.2);
  color: #02c58d;
}

.badge-soft-info {
  background-color: rgba(89, 198, 251, 0.2);
  color: #59c6fb;
}

.badge-soft-warning {
  background-color: rgba(252, 190, 45, 0.2);
  color: #fcbe2d;
}

.badge-soft-danger {
  background-color: rgba(252, 84, 84, 0.2);
  color: #fc5454;
}

.badge-soft-dark {
  background-color: rgba(53, 69, 88, 0.2);
  color: #354558;
}

.badge-soft-secondary {
  background-color: rgba(97, 111, 128, 0.2);
  color: #616f80;
}

/* ==============
  Pagination
===================*/

.page-link {
  color: #30419b;
}

.page-item.active .page-link {
  background-color: #30419b;
  border-color: #30419b;
}

.page-link:focus,
.page-link:hover {
  color: #354558;
  background-color: #f0f4f7;
}

/* =============
   Alerts
============= */

.alert {
  position: relative;
  border: 0;
}

.alert .alert-link {
  font-weight: 500;
  text-decoration: underline;
}

.alert-primary {
  color: #ffffff;
  background-color: #30419b;
}

.alert-primary hr {
  border-top-color: #243174;
}

.alert-success {
  color: #ffffff;
  background-color: #02c58d;
}

.alert-success hr {
  border-top-color: #019369;
}

.alert-danger {
  color: #ffffff;
  background-color: #fc5454;
}

.alert-danger hr {
  border-top-color: #fb2222;
}

.alert-warning {
  color: #ffffff;
  background-color: #fcbe2d;
}

.alert-warning hr {
  border-top-color: #f3ab03;
}

.alert-info {
  color: #ffffff;
  background-color: #59c6fb;
}

.alert-info hr {
  border-top-color: #27b5fa;
}

.alert-secondary {
  color: #ffffff;
  background-color: #616f80;
}

.alert-secondary hr {
  border-top-color: #4b5663;
}

.alert-dark {
  color: #ffffff;
  background-color: #354558;
}

.alert-dark hr {
  border-top-color: #222c38;
}

/* ==============
  Buttons
===================*/

.btn {
  border-radius: 0px;
  font-size: 13px;
  font-weight: 500;
}

button:focus {
  outline: none;
}

.btn-sm {
  font-size: 11.8181818182px;
}

.btn-lg {
  font-size: 15.6px;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-dark,
.btn-pink,
.btn-purple,
.btn-indigo,
.btn-teal,
.btn-lime,
.btn-orange,
.btn-brown,
.btn-blue-grey {
  color: #ffffff;
}

.btn-primary {
  background-color: #30419b;
  border: 1px solid #30419b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #2a3988;
  border: 1px solid #2a3988;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(48, 65, 155, 0.3);
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
}

.btn-success {
  background-color: #02c58d;
  border: 1px solid #02c58d;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success,
.btn-outline-success.active,
.btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle,
.btn-outline-success:hover,
.btn-success.active,
.btn-success:active,
.show > .btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: #02ac7b;
  border: 1px solid #02ac7b;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(2, 197, 141, 0.3);
}

.btn-info {
  background-color: #59c6fb;
  border: 1px solid #59c6fb;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info,
.btn-outline-info.active,
.btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle,
.btn-outline-info:hover,
.btn-info.active,
.btn-info:active,
.show > .btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: #40bdfa;
  border: 1px solid #40bdfa;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(89, 198, 251, 0.3);
}

.btn-warning {
  background-color: #fcbe2d;
  border: 1px solid #fcbe2d;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning,
.btn-outline-warning.active,
.btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning:active,
.show > .btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  background-color: #fcb614;
  border: 1px solid #fcb614;
  color: #ffffff;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(252, 190, 45, 0.3);
}

.btn-danger {
  background-color: #fc5454;
  border: 1px solid #fc5454;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger,
.btn-outline-danger.active,
.btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle,
.btn-outline-danger:hover,
.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  background-color: #fc3b3b;
  border: 1px solid #fc3b3b;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(252, 84, 84, 0.3);
}

.btn-dark {
  background-color: #354558;
  border: 1px solid #354558;
  color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active,
.btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  background-color: #2b3948;
  border: 1px solid #2b3948;
  color: #ffffff;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(53, 69, 88, 0.3);
}

.btn-secondary {
  background-color: #616f80;
  border: 1px solid #616f80;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary:active,
.show > .btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary:hover,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #566271;
  border: 1px solid #566271;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(97, 111, 128, 0.3);
}

.btn-link {
  color: #354558;
}

.btn-link:hover {
  color: #30419b;
}

/* button Outline */

.btn-outline-primary {
  color: #30419b;
  border-color: #30419b;
}

.btn-outline-success {
  color: #02c58d;
  border-color: #02c58d;
}

.btn-outline-info {
  color: #59c6fb;
  border-color: #59c6fb;
}

.btn-outline-warning {
  color: #fcbe2d;
  border-color: #fcbe2d;
}

.btn-outline-danger {
  color: #fc5454;
  border-color: #fc5454;
}

.btn-outline-dark {
  color: #354558;
  background-image: none;
  background-color: transparent;
  border-color: #354558;
}

.btn-outline-secondary {
  color: #616f80;
  border-color: #616f80;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-icon {
  position: relative;
}

.btn-icon .btn-icon-label {
  margin: -0.55rem 0.9rem -0.55rem -0.9rem;
  padding: 0.6rem 0.9rem;
}

.btn-icon::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 38%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-icon:hover::before {
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
}

/* ==============
  Card
===================*/

.card {
  border: none;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.card-columns .card {
  margin-bottom: 30px;
}

/* ==============
  Form-elements
===================*/

label {
  font-weight: 600;
}

.form-control {
  font-size: 13px;
}

.form-control:focus {
  border-color: #30419b;
  box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #30419b;
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #30419b;
}

.has-success .form-control {
  border-color: #02c58d;
  box-shadow: none;
}

.has-warning .form-control {
  border-color: #fcbe2d;
  box-shadow: none;
}

.has-danger .form-control {
  border-color: #fc5454;
  box-shadow: none;
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #f0f4f7;
}

.input-group-text {
  font-size: 13px;
}

/* ==============
  Widgets
===================*/

.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}

.widget-chart li i {
  font-size: 22px;
}

.mini-stat-icon i {
  font-size: 30px;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.dashboard-ct-chart .ct-grid {
  stroke: rgba(0, 0, 0, 0.05);
}

#slider-1 {
  height: 49px;
}

#slider-2 {
  height: 49px;
}

/* Activity */

.activity-feed {
  list-style: none;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 30px;
  border-left: 2px solid #f0f4f7;
}

.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid #30419b;
  background-color: #ffffff;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.suggestion-icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #30419b;
  font-size: 15px;
}

/* ==============
  Tables
===================*/

.table {
  margin-bottom: 10px;
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.thead-default th {
  background-color: #f0f4f7;
}

.table td,
.table th {
  vertical-align: middle;
  font-size: 14px;
}

.table th {
  font-size: 13px;
}

.table.table-outer-border {
  border: solid 1px #ddd;
}

/************** datatables ***************/

.dataTables_wrapper.container-fluid {
  width: auto;
}

/* == Responsive Table ==*/

table.focus-on tbody tr.focused th {
  background-color: #30419b;
  color: #ffffff;
}

table.focus-on tbody tr.focused td {
  background-color: #30419b;
  color: #ffffff;
}

.table-rep-plugin .btn-toolbar {
  display: block;
}

.table-rep-plugin .table-responsive {
  border: none !important;
}

.table-rep-plugin .fixed-solution {
  margin-bottom: 0px;
}

.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
}

.table-rep-plugin .btn-group.float-right .dropdown-menu {
  left: auto;
  right: 0;
  -webkit-transform: none !important;
          transform: none !important;
  top: 100% !important;
}

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
}

.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.table-rep-plugin .checkbox-row label::after {
  color: #616f80;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}

.table-rep-plugin .checkbox-row input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled + label {
  opacity: 0.65;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  content: "\F00C";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled + label::before {
  background-color: #f0f4f7;
  cursor: not-allowed;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::before {
  background-color: #30419b;
  border-color: #30419b;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  color: #ffffff;
}

/* ==============
  Calendar
===================*/

.calendar {
  float: left;
  margin-bottom: 0;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
}

.fc-toolbar h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #f0f4f7;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #adb5bd;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #30419b;
  color: #ffffff !important;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* ==============
  Email
===================*/

.email-leftbar {
  width: 230px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.email-rightbar {
  margin-left: 260px;
}

.dot-online {
  position: absolute;
  left: 28px;
  font-size: 12px;
}

.chat-user-box p.user-title {
  font-size: 13px;
  color: #354558;
  font-weight: 500;
}

.chat-user-box p {
  font-size: 12px;
}

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }

  .email-rightbar {
    margin: 0;
  }
}

.mail-list a {
  display: block;
  color: #3f5168;
  font-size: 13px;
  line-height: 24px;
  padding: 5px;
}

.mail-list a.active {
  color: #fc5454;
  font-weight: 500;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 75px;
  line-height: 75px;
  cursor: default;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.message-list li a {
  color: #354558;
}

.message-list li:hover {
  background: rgba(53, 69, 88, 0.08);
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 28px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  margin-top: 31px;
  font-size: 13px;
  margin-left: 5px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  left: 110px;
  right: 0;
  top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 360px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  top: 8px;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 170px;
  padding-left: 70px;
}

.message-list li.active,
.message-list li.active:hover {
  box-shadow: inset 3px 0 0 #30419b;
}

.message-list li.unread {
  background-color: #f7f7f7;
  font-weight: 500;
  color: #2b3948;
}

.message-list li.unread a {
  color: #2b3948;
  font-weight: 500;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 1px #dee2e6;
  border-radius: 1px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  top: 0;
}

.message-list .checkbox-wrapper-mail label:before {
  content: "\F12C";
  font-family: "Material Design Icons";
  top: 0;
  height: 20px;
  color: #2b3948;
  width: 20px;
  position: absolute;
  margin-top: -27px;
  left: 4px;
  font-size: 13px;
}

.email-inbox {
  position: relative;
}

.email-inbox .form-control,
.email-inbox .form-control:focus {
  border: 1px solid #f0f4f7;
  font-size: 13px;
  height: 40px;
  padding-left: 34px;
  padding-right: 12px;
  margin-right: 16px;
  background: #f6f6f6;
  box-shadow: none;
  border: none;
}

.email-inbox button {
  position: absolute;
  top: 12px;
  left: 6px;
  display: block;
  color: #9ca8b3;
  font-size: 11px;
  border: none;
  background-color: transparent;
}

@media (max-width: 425px) {
  .title img {
    display: none;
  }
}

.email-img-overlay .email-overlay i {
  background: #30419b;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0px;
  margin: 0 auto;
  opacity: 0;
}

.email-img-overlay:hover img {
  opacity: 0.2;
}

.email-img-overlay:hover .email-overlay i {
  opacity: 1;
}

@media (max-width: 375px) {
  .date {
    display: none;
  }
}

@media (max-width: 768px) {
  .mo-mb-2 {
    margin-bottom: 10px;
  }

  .mo-mt-2 {
    margin-top: 10px !important;
  }

  .ex-pages {
    padding: 24px 0px;
  }

  .btn-toolbar {
    margin-top: 15px;
  }
}

/* ==============
  Timeline
===================*/

.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-timeline {
  overflow: hidden;
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #adb5bd;
  position: absolute;
  top: 0;
  left: 50%;
}

.main-timeline .timeline {
  padding-right: 30px;
  position: relative;
}

.main-timeline .timeline-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #adb5bd;
  box-sizing: content-box;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -4px;
}

.main-timeline .timeline-icon:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30419b;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .year {
  display: inline-block;
  padding: 8px 20px;
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  background: #30419b;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-timeline .year:before {
  content: "";
  border-right: 18px solid #30419b;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  left: -18px;
}

.main-timeline .timeline-content {
  width: 46.5%;
  padding: 43px 50px;
  margin: 0 20px 0 0;
  background: #f0f4f7;
  position: relative;
}

.main-timeline .timeline-content:after {
  content: "";
  border-left: 20px solid #f0f4f7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-timeline .title {
  float: left;
  font-size: 18px;
  margin: 0 20px 20px 0;
}

.main-timeline .description {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  clear: both;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #adb5bd;
  background: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: -3px;
}

.main-timeline .timeline:last-child:before {
  top: auto;
  bottom: 0;
}

.main-timeline .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}

.main-timeline .timeline:nth-child(2n) .year {
  right: auto;
  left: 35%;
}

.main-timeline .timeline:nth-child(2n) .year:before {
  border: 18px solid transparent;
  border-right: none;
  border-left: 18px solid #30419b;
  left: auto;
  right: -18px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  float: right;
  margin: 0 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after {
  border-left: none;
  border-right: 20px solid #f0f4f7;
  right: auto;
  left: -20px;
}

@media only screen and (max-width: 1200px) {
  .main-timeline .year {
    right: 30%;
  }

  .main-timeline .timeline:nth-child(2n) .year {
    left: 30%;
  }
}

@media only screen and (max-width: 990px) {
  .main-timeline .year {
    right: 25%;
  }

  .main-timeline .timeline:nth-child(2n) .year {
    left: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    left: 10px;
  }

  .main-timeline .timeline {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
  }

  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }

  .main-timeline .timeline:first-child:before,
  .main-timeline .timeline:last-child:before {
    display: none;
  }

  .main-timeline .timeline-icon {
    margin: 0;
    position: absolute;
    top: 7px;
    left: 0;
  }

  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    display: block;
    font-weight: bold;
    margin: 0 0 32px 30px;
    z-index: 1;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    -webkit-transform: none;
            transform: none;
  }

  .main-timeline .timeline:nth-child(2n) .year:before {
    border-left: none;
    border-right: 18px solid #30419b;
    right: auto;
    left: -18px;
  }

  .main-timeline .timeline-content {
    padding: 20px;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: auto;
    float: none;
    margin: 0 0 0 30px;
  }

  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(2n) .timeline-content:after {
    border: none;
    border-bottom: 20px solid #f0f4f7;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -20px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 480px) {
  .main-timeline .title {
    float: none;
  }

  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    margin-left: 20px;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    margin-left: 10px;
  }
}

.pricing-box {
  padding: 30px;
  position: relative;
}

.pricing-box .pricing-icon i {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 56px;
  top: -25px;
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.pricing-box .pricing-features {
  padding-left: 20px;
}

.pricing-box .pricing-plan sup {
  font-size: 26px;
  position: relative;
  top: -18px;
}

.pricing-box .pricing-border {
  border-top: 1px solid #f0f4f7;
  margin: 0 auto;
  border-bottom: 1px solid #f0f4f7;
  padding: 5px;
}

.pricing-box .pricing-features {
  padding-left: 20px;
}

.home-btn {
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 1;
}

.accountbg {
  background: url(/images/restaurant.png?4bb61dc67f4e9e143b9f52e73ec79a95);
  position: absolute;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
}

.wrapper-page {
  margin: 7.5% auto;
  width: 420px;
  position: relative;
}

@media (max-width: 767px) {
  .wrapper-page {
    width: 90%;
  }
}

.account-pages {
  margin: 10.5% auto;
  position: relative;
}

.comming-watch div {
  display: inline-block;
}

.comming-watch div .card {
  margin: 0px 15px 15px 15px;
}

.comming-watch div .card .countdown-num {
  font-weight: 600;
  color: #30419b;
}

.comming-watch div span {
  width: 150px;
  display: block;
}

.comming-watch div span:first-child {
  height: 60px;
  font-weight: 300;
  font-size: 3em;
  line-height: 48px;
}

.comming-watch div span:last-child {
  padding-top: 14px;
  font-size: 0.9em;
}

.coming-soon-search-form input {
  padding: 15px 20px;
  width: 100%;
  color: #354558;
  border: 2px solid #e9ecef;
  outline: none !important;
  padding-right: 180px;
  padding-left: 30px;
  border-radius: 30px;
}

.coming-soon-search-form button {
  position: absolute;
  top: 7px;
  right: 8px;
  outline: none !important;
  border-radius: 30px;
  padding: 9px 30px;
}

.coming-soon-search-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.faq-box {
  border-left: 3px solid;
}

.error-bg {
  background: url(/images/error.png?07fa9d18e5f772532adc20a08944543d);
  position: absolute;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
}

.error-page {
  text-transform: uppercase;
  background: repeating-linear-gradient(45deg, #30419b, #30419b 10px, #02c58d 10px, #02c58d 20px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110px;
  line-height: 0.7;
  position: relative;
}

.maintenance-img img {
  max-width: 320px;
}

.dataTables_filter {
  float: right;
}

.dataTables_filter label {
  padding: 0;
  margin: 0;
}

.dataTables_filter input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 5px;
}

.dataTables_length {
  float: left;
}

.dataTables_info {
  float: left;
}

.dataTables_paginate {
  float: right;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.top-search {
  position: absolute;
  right: 250px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.dataTable.table-sm td,
.dataTable .table-sm th {
  padding: 0.3rem !important;
}

.dataTable th,
.dataTable td {
  white-space: nowrap;
}

table.dataTable thead th,
table.dataTable.no-footer {
  border-bottom: none;
}

table.dataTable thead th,
table.dataTable tfoot th {
  background: #fff;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody,
.DTFC_LeftBodyWrapper,
.DTFC_RightBodyWrapper {
  border-bottom: 1px solid #dee2e6;
}

.DTFC_LeftBodyWrapper .table-hover tbody tr:hover,
.DTFC_LeftBodyWrapper .table-striped tbody tr,
.DTFC_LeftBodyWrapper .thead-default th,
.DTFC_RightBodyWrapper .table-hover tbody tr:hover,
.DTFC_RightBodyWrapper .table-striped tbody tr,
.DTFC_RightBodyWrapper .thead-default th {
  background: #f9f9f9;
}

.inputfile + label * {
  pointer-events: none;
}

.nav-tabs .nav-item .nav-link.active {
  background: #30419b;
  color: #fff;
}

.tooltip {
  pointer-events: none;
}

.onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 0;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 11px;
  background-color: #02c58d;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 11px;
  background-color: #f0f4f7;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  width: 18px;
  margin: 2px;
  background: #ffffff;
  border: 2px solid #ddd;
  border-radius: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 37px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.appraisal-accordition .card {
  background: #f0f4f7;
}

.appraisal-accordition .card-header {
  background: #f0f4f7;
}

.accordion .card-header:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\F106";
  float: right;
  top: 21px;
  position: absolute;
  right: 15px;
  font-size: 16px;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\F107";
}

.accordion .header:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\F106";
  float: right;
  top: 21px;
  position: absolute;
  right: 15px;
  font-size: 16px;
}

.accordion .header.collapsed:after {
  content: "\F107";
}

.appraisal-accordition > .card {
  background: #f0f4f7;
}

.appraisal-accordition .card-header {
  background: #f0f4f7;
}

